vpc_id             = "vpc-00e3afef8b5f4ad67"                                  # Support-1
subnet_ids         = ["subnet-046ad0cd38c7e05cb", "subnet-070627f825b1ca7a5"] # public-support1-sub-01, private-support1-sub-01
security_group_ids = ["sg-0390a728fe71d50ca"]                                 # aqua-default-sg-1